name: Release
on:
  push:
    branches: ['developer', 'master']

permissions:
  contents: read # for checkout

env:
  SEMANTIC_RELEASE_VERSION: 23

jobs:
  codeql:
    uses: ./.github/workflows/codeql.yml
    permissions:
      actions: read
      security-events: write
      contents: read

  eslint:
    uses: ./.github/workflows/eslint.yml
    permissions:
      security-events: write
      contents: read

  test-unit:
    uses: ./.github/workflows/unit-test.yml

  test-e2e:
    uses: ./.github/workflows/e2e-test.yml

  evaluate_commits:
    name: Evaluate Commits
    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.check_version.outputs.RELEASE_VERSION }}

    steps:
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ vars.RELEASE_BOT_ID }}
          private_key: ${{ secrets.RELEASE_BOT_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ vars.NODE_VERSION }}

      - name: Install dependencies
        run: |
          yarn add \
          @semantic-release/git@10 \
          --ignore-scripts --non-interactive --frozen-lockfile --no-save

      - name: Set up secret file
        env:
          TOKEN: ${{ steps.generate_token.outputs.token }}
        run: echo $TOKEN >> secrets.txt

      - name: Check version
        id: check_version
        env:
          BRANCH_NAME: ${{ github.ref_name }}
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: |
          echo "{RELEASE_VERSION}=$(./scripts/release-version.sh)"

  create_release:
    name: Create Github Tag/Release for ${{ needs.evaluate_commits.outputs.version }}
    runs-on: ubuntu-latest

    # check if a new version should be released
    if: needs.evaluate_commits.outputs.version != ''

    needs:
      - evaluate_commits
      - codeql
      - eslint
      - test-e2e
      - test-unit

    steps:
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ vars.RELEASE_BOT_ID }}
          private_key: ${{ secrets.RELEASE_BOT_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ steps.generate_token.outputs.token }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ vars.NODE_VERSION }}

      - name: Release version
        env:
          BRANCH_NAME: ${{ github.ref_name }}
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: npx semantic-release

  create_docker_image:
    name: Create Docker Image for ${{ needs.evaluate_commits.outputs.version }}
    runs-on: ubuntu-latest

    # check if a new version should be released
    if: needs.evaluate_commits.outputs.version != ''

    needs:
      - create_release
      - evaluate_commits

    environment:
      name: ${{ contains(github.ref_name, 'master') && 'production' || 'dev' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:${{ vars.DOCKER_IMAGE_TAG }}
            ghcr.io/${{ github.repository }}:${{ needs.evaluate_commits.outputs.version }}

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs:
      - create_docker_image

    environment:
      name: ${{ contains(github.ref_name, 'master') && 'production' || 'dev' }}

    steps:
      - name: executing release command
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_DEPLOYMENT_HOST }}
          username: ${{ secrets.SSH_DEPLOYMENT_USERNAME }}
          key: ${{ secrets.SSH_DEPLOYMENT_PRIVATE_KEY }}
          passphrase: ${{ secrets.SSH_DEPLOYMENT_PRIVATE_KEY_PASSPHRASE }}
          script: cd ${{ secrets.SSH_DEPLOYMENT_PATH }} && ./${{ secrets.SSH_DEPLOYMENT_SCRIPT }}
